<div style="background-color: rgb(245,246,251);" class="about-form w-100 h-100">
    <div class="d-flex column w-100 p-5 h-100 justify-content-between align-items-center">
              <div class=" d-flex justify-content-between align-items-left flex-column h-100">
                  <h1 class="my-4">Contact Now and Get the Best Doctor Service Today</h1>
                  <p class="my-4">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit consequat ipsum nec sagittis.</p>
                  <div class="d-flex align-items-center">
                      <i class="icon bg-white rounded-circle rounded-circle ri-phone-fill" style="width: 50px; height: 50px; border-radius: 50%;"></i>
                      <div class="d-flex justify-content-between align-items-left flex-column">
                          <a href="tel:00123654878"><h1>+00 123 654 878</h1></a>
                          <p>Call Now and Get a Free Consulting</p>
                      </div>
                  </div>

                  <div>
                          <a class="my-3" style="color: rgb(22,159,237); text-decoration: underline;" href="mailto:info@medipcontact.com">info@medipcontact.com</a>
  
                      <ul class="my-5 social d-flex justify-content-between align-items-center w-50" >
                          <li>
                              <a href="https://www.facebook.com/" target="_blank">
                                  <i class="ri-facebook-fill"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://twitter.com/?lang=en" target="_blank">
                                  <i class="ri-twitter-fill"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/" target="_blank">
                                  <i class="ri-instagram-line"></i>
                              </a>
                          </li>
                          <li>
                              <a href="https://www.linkedin.com/signup" target="_blank">
                                  <i class="ri-linkedin-line"></i>
                              </a>
                          </li>
                      </ul>
                  </div>
              </div>
          

          <div style="border-radius: 25px;" class="col-lg-6 col-md-12 bg-white">
              <div class="appointment-form-wrap bg-white p-5 "  data-speed="0.05" data-revert="true" style="border-radius: 25px; transform: matrix(1, 0, 0, 1, 1.05, 6.26);">
                  <div class="wrap-title">
                      <h3>Make an Appointment</h3>
                  </div>   

                  <form class="d-flex justify-content-between align-items-left flex-column">
                      <div class="form-group my-4">
                          <h6>Your Name</h6>
                          <input style="background-color: rgb(243,247,251);" type="text" class="p-3 form-control" placeholder="Enter your name">
                      </div>

                      <div class="form-group my-4">
                          <label>Your Phone</label>
                          <input style="background-color: rgb(243,247,251);" type="text" class="p-3 form-control" placeholder="Enter your phone number">
                      </div>

                      <div class="form-group my-4">
                          <label>Your Message</label>
                          <textarea style="background-color: rgb(243,247,251);" name="message" class="p-3 form-control" placeholder="Type your message"></textarea>
                      </div>

                      <div class="form-group my-4">
                          <div class="appointment-checkbox-wrap">
                              <p class="d-flex justify-content-between align-items-center">
                                  <input class="mx-2" type="checkbox" id="test2">
                                  <label for="test2">I Agree to the <a href="terms-of-service.html">Terms &amp; Conditions.</a> I Also Agree that I Am Over 18 Years of Age.</label>
                              </p>
                          </div>
                      </div>

                      <button type="submit" class="default-btn btn btn-primary">Submit Now</button>
                  </form>
              </div>
          </div>
      </div>
</div>