<div class="fiveth_box">
    <div class=" fiveth_box_bg d-flex justify-content-between align-items-center flex-column">
        <h5 style="color: rgb(34,165,238)">Our Services</h5>
    <h1 class="text-center" style="font: 900 2vmax montserrat;">We Offer Different Services To<br>Improve Your Health</h1>
    <section class="d-flex column w-100 mt-5 justify-content-between align-items-center">
        <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; height: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea);" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/cardiology.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
       <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea); border-radius: 15px; height: 70px;" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/orthopedics.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
       <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea); border-radius: 15px; height: 70px;" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/pulmonology.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
       <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea); border-radius: 15px; height: 70px;" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/medicine.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
    </section>
    <section class="column d-flex w-100 mt-5 justify-content-between align-items-center">
       <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea); border-radius: 15px; height: 70px;" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/ambulance.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
       <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea); border-radius: 15px; height: 70px;" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/ophthalmology.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
       <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea); border-radius: 15px; height: 70px;" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/ophthalmology.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
       <div style="border-radius: 15px;" class="docs mx-2 p-3 d-flex px-3 justify-content-between align-items-left flex-column">
            <img style="width: 70px; background: linear-gradient(to right, #d6f9f9, #daf5f5, #def2f2, #e2eeee, #e5eaea); border-radius: 15px; height: 70px;" class="second-page-row-images img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/services/neurology.png"/>
            <br>
            <h4 class="second_page_heading">Check Doctor Profile</h4>
            <br>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
            <br>
            <h6 class="learn-more" style="color: rgb(51,171,239);">Learn More</h6>
        </div>
    </section>
    </div>
</div>