<footer class="nineth_box p-5">
    <div class="footer-column d-flex justify-content-between align-items-left">
        <div class="d-flex footer-w100 p-5 justify-content-between align-items-left flex-column w-25">
            <img class="w-75 navbar-brand img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/logo.png" alt="logo">
            <br><br>
            <p>Aenean sollicitudin here yhlorem quis aucto nisi elit lorem nec demi. Aenean scitudin here lorem quis aucto nisi elit lorem nec .Aenean scitudin here yhlorem quis aucto.</p>
            <img class="w-50 navbar-brand img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/footer/signature.png" alt="sign">
            <div class="d-flex docFooter justify-content-between align-items-center">
                <img style="border-radius: 50%; width: 50%; height: 50%;" class="navbar-brand img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/footer/footer-1.jpg" alt="female">
                <div class="d-flex w-100 justify-content-between align-items-center flex-column">
                    <h5>Dr. Thomas Albin</h5>
                    <p>CEO & Founder</p>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-space-around align-items-center flex-column w-25">
            <h4>Useful Link</h4>
            <br><br>
            <ol class="footer-ol d-flex justify-content-around align-items-left flex-column">
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>About Us</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Medical Services</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Doctors</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Faq</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Privacy Policy</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>News & Blog</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>News & Blog</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Contact Us</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Appointment</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Our Features</h6></li>
                <li><h6><img src="https://img.icons8.com/material-rounded/24/null/chevron-right.png"/>Cardiology</h6></li>
            </ol>

        </div>
        <div class="d-flex newsFooter justify-content-space-around align-items-center flex-column w-25">
            <h4>News & Blog</h4>
            <br><br>
            <ol class="d-flex justify-content-space-around align-items-left flex-column"">
                <li><div class="d-flex justify-content-between align-items-left">
                    <img style="border-radius: 7px;" class="mx-2" width="100px" src="https://templates.envytheme.com/medip/default/assets/images/footer/footer-1.jpg" alt="">
                    <div class="row ">
                        <h6 class="footer-news-hover">Lorem ipsum dolor sit amet.</h6>
                        <p style="color: rgb(34,165,238)">Lorem, ipsum dolor.</p>
                    </div>
                </div></li>
                <br><br>
                <li><div class="d-flex justify-content-between align-items-left">
                    <img style="border-radius: 7px;" class="mx-2" width="100px" src="https://templates.envytheme.com/medip/default/assets/images/footer/footer-2.jpg" alt="">
                    <div class="row">
                        <h6>Lorem ipsum dolor sit amet.</h6>
                        <p style="color: rgb(34,165,238)">Lorem, ipsum dolor.</p>
                    </div>
                </div></li>
                <br><br>
                <li><div class="d-flex justify-content-between align-items-left">
                    <img style="border-radius: 7px;" class="mx-2" width="100px" src="https://templates.envytheme.com/medip/default/assets/images/footer/footer-3.jpg" alt="">
                    <div class="row">
                        <h6>Lorem ipsum dolor sit amet.</h6>
                        <p style="color: rgb(34,165,238)">Lorem, ipsum dolor.</p>
                    </div>
                </div></li>
            </ol>

        </div>
        <div class="row d-flex justify-content-space-around align-items-center flex-column w-25">
            <h4>Contact Information</h4>
            <br><br>
            <ol class="row">
                <li><div class="d-flex justify-content-between align-items-center">
                    <img class="img-fluid img-responsive mx-2" src="https://img.icons8.com/fluency/48/null/phone.png"/>
                    <div>
                        <h6 class="footer-news-hover">35 West Dental Street </h6>
                        <p style="color: rgb(34,165,238)">Our Location</p>
                    </div>
                </div></li>
                <br><br>
                <li>
                    <div class="d-flex justify-content-between align-items-center">
                        <img class="img-fluid img-responsive mx-2" src="https://img.icons8.com/fluency/48/null/phone.png"/>
                    <div>
                        <h6 class="footer-news-hover">35 West Dental Street </h6>
                        <p style="color: rgb(34,165,238)">Our Location</p>
                    </div>
                </div></li>
                <br><br>
                <li><div class="d-flex justify-content-between align-items-center">
                    <img class="img-fluid img-responsive mx-2" src="https://img.icons8.com/fluency/48/null/phone.png"/>
                    <div>
                        <h6 class="footer-news-hover">35 West Dental Street </h6>
                        <p style="color: rgb(34,165,238)">Our Location</p>
                    </div>
                </div></li>
            </ol>

        </div>
    </div>
    <hr>
    <!-- <hr class="footer-hr">
    <hr class="footer-hr"> -->
    <div class="copyright-area mt-5 d-flex justify-content-center align-items-center">
        <div class="container d-flex justify-content-center align-items-center">
            <div class="copyright-area-content d-flex justify-content-center align-items-center">
                <p>
                    Copyright @<script>document.write(new Date().getFullYear())</script>2023 Medip All Rights Reserved by
                    <a href="https://envytheme.com/" target="_blank">
                        EnvyTheme
                    </a>
                </p>
            </div>
        </div>
    </div>
    
</footer>