<div class="fourth_box">
    <section class="d-flex sectionColumn justify-content-center align-items-center w-100">
        <div class="d-flex mx-5 fourth_box-column flex-row justify-content-between fourth_box align-items-center w-50">
            <div class=" d-flex  row mb-5 justify-content-between align-items-center flex-column w-50">
                <div style="background-color: rgb(236,248,255); padding: 5vmax;" class=" row blue border mb-5 ">
                    <h1>500</h1>
                    <p>Patients Beds</p>
                </div>
                <div style="background-color: rgb(255,251,250); padding: 5vmax" class="row red border">
                    <h1>780</h1>
                    <p>Happy Patients</p>
                </div>
            </div>
            <div class="d-flex row justify-content-between align-items-center flex-column w-50">
                <div style="background-color: rgb(254,254,254); padding: 5vmax" class="row orange border mb-5">
                    <h1>220</h1>
                    <p>Doctors & Nurses</p>
                </div>
                <div style="background-color: rgb(246,255,251); padding: 5vmax" class="row green border">
                    <h1>100</h1>
                    <p>Year Experience</p>
                </div>
            </div>
        </div>

        <div class=" whyChooseUs d-flex justify-content-between align-items-left flex-column w-50">
            <h5 style="color: rgb(34,165,238);" class="">Why Choose Us</h5>
            <h1 style="font: 700 2.4vmax 'montserrat';">The Best Care For Yourself and  <br> Your Family</h1>
            <p style="line-height: 25px;" class="text-justify text-wrap">Our medical clinic provides quality care for the entire family while maintaining <br> a personable atmosphere best services. Our medical clinic provides quality. <br> Our medical clinic provides quality care for the entire family while maintaining <br> lizam a personable atmosphere best services. Our medical clinic provides. <br><br> Our medical clinic provides quality care for the entire family <br> while maintaining a personable atmosphere best services.</p>
            <a href="https://interest-media.com/solutions/" class="w-25 text-white menu-link btn appointment main-menu-link mx-2">Book Appointment</a>
        </div>
    </section>
    </div>