<nav class="navMain p-3 fixed-top nav navbar text-center d-flex justify-content-between align-items-center w-100">
    <a href="/" class=" navbar-brand"><img class="img-fluid" src="https://templates.envytheme.com/medip/default/assets/images/logo.png" alt="Logo"></a>
    <ul style="list-style-type: none;" class="w-50  navA navLinks justify-content-between align-items-center">
        <li href="https://interest-media.com/solutions/" class="navA justify-content-between align-items-center menu-link main-menu-link">Home<img style="width: 15px; height: 15px; margin-left: 8px;" class="navA img-fluid img-responsive" src="https://img.icons8.com/material-rounded/24/null/chevron-down.png"/></li>
        <li href="https://interest-media.com/solutions/" class="navA justify-content-between align-items-center menu-link main-menu-link"><a class="navA" href="/about">About</a></li>
        <li href="https://interest-media.com/solutions/" class="navA justify-content-between align-items-center menu-link main-menu-link"><a class="navA" href="/Services">Services</a><img style="width: 15px; height: 15px; margin-left: 8px;" src="https://img.icons8.com/material-rounded/24/null/chevron-down.png"/></li>
        <li href="https://interest-media.com/solutions/" class="navA justify-content-between align-items-center menu-link main-menu-link"><a class="navA" href="/doctor">Doctors</a><img style="width: 15px; height: 15px; margin-left: 8px;" src="https://img.icons8.com/material-rounded/24/null/chevron-down.png"/></li>
        <li href="https://interest-media.com/solutions/" class="navA justify-content-between align-items-center menu-link main-menu-link">Pages<img class="navA" style="width: 15px; height: 15px; margin-left: 8px;" src="https://img.icons8.com/material-rounded/24/null/chevron-down.png"/></li>
        <li href="https://interest-media.com/solutions/" class="navA justify-content-between align-items-center menu-link main-menu-link"><a href="/blogs">Blogs</a><img class="navA" style="width: 15px; height: 15px; margin-left: 8px;" src="https://img.icons8.com/material-rounded/24/null/chevron-down.png"/></li>
        <li href="https://interest-media.com/solutions/" class="navA justify-content-between align-items-center menu-link main-menu-link"><a class="navA" href="/contact">Contact</a></li>
        </ul>
    <div class="nav_Btns">

        <a href="https://interest-media.com/solutions/" class="menu-link main-menu-link"><img class="img-fluid img-responsive" style="width: 20px;" src="https://img.icons8.com/external-dreamstale-green-shadow-dreamstale/64/000000/external-phone-call-communication-dreamstale-green-shadow-dreamstale.png"/>+00 123 654 878</a>
        <a href="https://interest-media.com/solutions/" class="text-white menu-link btn appointment main-menu-link mx-2">Book Appointment</a>
    </div>
    <div class="menuIcons">
        <img class="menuIconsSize mx-3 menu-link main-menu-link img-fluid img-responsive" src="https://img.icons8.com/ios-glyphs/30/000000/ellipsis.png"/>
        <img class="menuIconsSize menu-link main-menu-link img-fluid img-responsive" src="https://img.icons8.com/ios-glyphs/30/null/menu--v1.png"/>
    </div>
</nav>

