<div class="second_box">
    <h5 style="color: rgb(34,165,238)">Easy Solutions</h5>
    <h1 class="text-center" style="font: 600 3vmax montserrat;">4 Easy Step and Get the World Best<br>Treatment</h1>
    <section style="width: 80%;" class="secondPageDivResponsive d-flex mt-5 justify-content-between align-items-center">
        <div class="d-flex px-3 justify-content-between align-items-left flex-column">
            <img width="100px" class="second-page-row-images img-fluid img-responsive" src="https://img.icons8.com/ios/100/null/contract-job.png"/>
            <h4 style="cursor: pointer;" class="second_page_heading">Check Doctor Profile</h4>
            <p class=""  style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
        </div>
        <div class="d-flex px-3 justify-coleftntent-between align-items-left flex-column">
            <img width="100px" class="second-page-row-images img-fluid img-responsive" src="https://img.icons8.com/ios/100/null/request-service.png"/>
            <h4 style="cursor: pointer;" class="second_page_heading">Request Consulting</h4>
            <p style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
        </div>
        <div class="d-flex px-3 justify-content-between align-items-left flex-column">
            <img width="100px" class="second-page-row-images img-fluid img-responsive" src="https://img.icons8.com/ios/100/null/doctor-giving-advice.png"/>
            <h4 style="cursor: pointer;" class="second_page_heading">Receive Consulting</h4>
            <p  style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
        </div>
        <div class="d-flex px-3 justify-content-between align-items-left flex-column">
            <img width="100px" class="second-page-row-images img-fluid img-responsive" src="https://img.icons8.com/windows/96/null/profitable-idea.png"/>
            <h4 style="cursor: pointer;" class="second_page_heading">Get Your Solution</h4>
            <p  style="line-height: 25px;">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor nisi elit.</p>
        </div>
    </section>
</div>