<div class="sixth_box">
    <div style="width: 90vmax;" class="d-flex column justify-content-between align-items-center mb-5">
        <div class=" sixthBox_responsive d-flex column justify-content-between flex-column align-items-centerm m-5 w-50 h-50">
            <section class="h-25 w-100">
                <h5 style="color: rgb(34,165,238) ;">Quality Healthcare</h5>
                <h1>Have Certified and High Quality Doctor For You</h1>
            <p style="line-height: 25px;">Our medical clinic provides quality care for the entire family while maintaining a <br> personable atmosphere best services. Our medical clinic provides quality. Our <br> medical clinic provides quality care for the entire family while maintaining lizam a <br> personable atmosphere best services. Our medical clinic provides.</p>
            <a href="https://interest-media.com/solutions/" class="text-white menu-link btn appointment main-menu-link mx-2">Book Appointment</a>
            <br>
            <img class="docEquip w-50 mx-5 pl-5 img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/healthcare-doctor/stethoscope.png" alt="">
        </section>
    </div>
        <aside class="mt-5 six-page-bottom w-50">
            <img style="background-color: rgb(217,246,246);" class="mt-5 pt-5 rounded-circle img-fluid img-responsive" src="https://templates.envytheme.com/medip/default/assets/images/healthcare-doctor/doctor-1.png" alt="doc">
            <div style="border-radius: 25px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; position: absolute; bottom: 10%;" class="text-center six-page-bottom-center-div bg-dark text-white w-25 p-3 d-flex justify-content-between align-items-center flex-column"> 
                <img width="50px" class="img-fluid img-responsive" src="https://img.icons8.com/bubbles/50/null/messages-mac.png"/>
                <h5>Free Consulting</h5>
                <p class="">Lorem ipsum dolor sit</p>
            </div>
        </aside>
    </div>
</div>