    
                <div class="third_box">
                    <section class="baloon d-flex justify-content-center align-items-center">
                        <form class="w-75 d-flex justify-content-between align-items-center">
                            <h5 class="text-light">Book an Appointment</h5>
                        <div class="form-group">
                            <input style="background: url(https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/24/null/external-chevron-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya.png) no-repeat; padding-left:25px; padding: 1.3vmax;  background-position: right; background-repeat: no-repeat;" type="text" class=" mt mystyle bg-white border no-border form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select Doctor">
                        </div>
                        <div class="form-group">
                            <input style="background: url(https://img.icons8.com/external-royyan-wijaya-detailed-outline-royyan-wijaya/24/null/external-chevron-arrow-line-royyan-wijaya-detailed-outline-royyan-wijaya.png) no-repeat; padding-left:25px; padding: 1.3vmax; background-position: right; background-repeat: no-repeat;" type="text" class=" mt mystyle bg-white border no-border form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Select Time">
                        </div>
                        <button class="third-page-btn btn btn-dark btn-lg px-5">Book Now</button>
                        </form>
                        
                        <div class="go-top active">
                            <img class="img-fluid img-responsive align-self-center mt-2" src="https://img.icons8.com/ios-glyphs/30/000000/chevron-up.png"/>
                        </div>
                    </section>
                </div>