<%- include("partials/head") -%>
<div class="first_box">
    <div style="position: relative; " class="h-25 d-flex justify-content-between align-items-center w-100 ">
        <%- include("partials/nav") -%>
            <div class="d-flex m-auto mx-5 justify-content-between flex-column align-items-center h-50">
                <section class="h-25 m-auto mx-5">
                    <h1 class="local" style="font: 900 3vmax montserrat;">Contact</h1>
                    <ul class="d-flex justify-content-around align-items-center" data-aos="fade-right" data-aos-delay="70" data-aos-duration="700" class="aos-init aos-animate">
                        <li style="list-style-type: none;">
                            <a href="/">Home</a>
                        </li>
                        <li>Contact</li>
                    </ul>
            </section>
        </div>
            <aside class="aside mt-5">
                <img  class=" mt-5 pt-5 mx-5 img-fluid img-responsive w-75" src="https://templates.envytheme.com/medip/default/assets/images/page-banner/banner-1.png" alt="doc">
                <div class="shake">
                    <span class="rise-shake">Buy Now</span>
                </div>
                <img style="position: absolute; right: 50px; bottom: 50px;" class="top-page-bottom-center-div" src="https://templates.envytheme.com/medip/default/assets/images/main-banner/banner-one/banner-shape-2.png" alt="">
                <div class="switch-box">
                    <input type="checkbox">
                </div>
            </aside>

      </div>
      <div>
        <a class="my-3" style="color: rgb(22,159,237); text-decoration: underline;" href="mailto:info@medipcontact.com">info@medipcontact.com</a>

    <ul class="my-5 social d-flex justify-content-between align-items-center w-50" >
        <li>
            <a href="https://www.facebook.com/" target="_blank">
                <i class="ri-facebook-fill"></i>
            </a>
        </li>
        <li>
            <a href="https://twitter.com/?lang=en" target="_blank">
                <i class="ri-twitter-fill"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/" target="_blank">
                <i class="ri-instagram-line"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/signup" target="_blank">
                <i class="ri-linkedin-line"></i>
            </a>
        </li>
    </ul>
</div>
</div>
  </div>
  <br><br><br><br>
  <div style="background-color: rgb(245,246,251);" class="about-form w-100 h-100">
    <div class="d-flex w-100 p-5 h-100 justify-content-between align-items-center">
              <div class="w-100 d-flex justify-content-between align-items-left flex-column h-100">
          

          <div style="border-radius: 25px;" class="col-lg-6 col-md-12 bg-white">
              <div class="appointment-form-wrap bg-white p-5 "  data-speed="0.05" data-revert="true" style="border-radius: 25px; transform: matrix(1, 0, 0, 1, 1.05, 6.26);">
                  <div class="wrap-title">
                      <h3>Send us a message</h3>
                  </div>   

                  <form class="d-flex justify-content-between align-items-left flex-column">
                      <div class="form-group my-4">
                          <h6>Your Name</h6>
                          <input style="background-color: rgb(243,247,251);" type="text" class="p-3 form-control" placeholder="Enter your name">
                      </div>

                      <div class="form-group my-4">
                          <label>Your Phone</label>
                          <input style="background-color: rgb(243,247,251);" type="text" class="p-3 form-control" placeholder="Enter your phone number">
                      </div>

                      <div class="form-group my-4">
                          <label>Your Message</label>
                          <textarea style="background-color: rgb(243,247,251);" name="message" class="p-3 form-control" placeholder="Type your message"></textarea>
                      </div>

                      <div class="form-group my-4">
                          <div class="appointment-checkbox-wrap">
                              <p class="d-flex justify-content-between align-items-center">
                                  <input class="mx-2" type="checkbox" id="test2">
                                  <label for="test2">I Agree to the <a href="terms-of-service.html">Terms &amp; Conditions.</a> I Also Agree that I Am Over 18 Years of Age.</label>
                              </p>
                          </div>
                      </div>

                      <button type="submit" class="default-btn btn btn-primary">Send Message</button>
                  </form>
              </div>
          </div>
      </div>
</div>


<%- include("partials/footer") -%>
<%- include("partials/foot") -%>
                
    

    